%table
  %tbody
    %tr
      %td
        %h1 Gladney Family Reunion 2011
    %tr
      %td
        %h3= "Your confirmation # #{@registrant.confirmation_num}"
    %tr
      %td
        %p This is a test

