/*=================================================================================
Layout Style Sheet

Author:  Antwan Foster { Web Developer }
E-mail:  Antwan3000@gmail.com
website:  www.gladneyfamilyreunion.org

Date:  March 7, 2011

Desctiption:
The CSS code is for the layout of HTML5 elements for www.gladneyfamilyreunion.org
==================================================================================*/




#gladney-reunion{
	width: 1080px;
	margin: 0 auto;
}

#flyer {
	width: 840px;
	margin: 0 auto;
	display: block;
	padding-top: 20px;
}

#flyer img {
	padding-left: 18px;
}
