/*=================================================================================
Layout Style Sheet

Author:  Antwan Foster { Web Developer }
E-mail:  Antwan3000@gmail.com
website:  www.gladneyfamilyreunion.org

Date:  March 7, 2011

Desctiption:
The CSS code is for the layout of HTML5 elements for www.gladneyfamilyreunion.org
==================================================================================*/




#gladney-reunion{
	width: 1080px;
	margin: 0 auto;
}

#flyer {
	width: 798px;
	margin: 50px auto;
	display: block;
	padding-right: 60px;
}
