%h2 Modify Registration

%h3 To modify your registration info, please provide your email &amp; confirmation number below

= render 'modify_form'

= link_to 'Start Over', register_path

= debug @registrant