%h1 Contact Us
%section#contacts
	%dl.contact
		%dt Myrtice Robinson
		%dd
			%p Email:  normanrobinson@sbcglobal.net
			%p Phone:  (773) 874-5879
			%p Chicago, IL
	%dl.contact		
		%dt Vergie Madkins
		%dd
			%p Email:   vergiem@gmail.com
			%p Phone:  (662) 983-4786
			%p Bruce, MS
	%dl.contact		
		%dt Chenise McClinton-Jenkins
		%dd	
			%p Email:  cmcclinton1@yahoo.com
			%p Phone:  (773) 678-6476 
			%p Dallas, TX
	%dl.contact		
		%dt Marvele Foster
		%dd
			%p Email:  marvelef@gmail.com
			%p Phone:  (919) 721-5427 
			%p Atlanta, GA
	%dl.contact		
		%dt Antwan Foster
		%dd
			%p Email:  Antwan3000@gmail.com
			%p Phone: (202) 316-1351 
			%p Washington, D.C.
	%dl.contact	
		%dt Jo Ann Gladney
		%dd
			%p Email:  joanngladney@gmail.com
			%p Phone:  (773) 488-4663
			%p Chicago, IL
	%dl.contact	
		%dt Rita Talford
		%dd 
			%p Phone:  (662) 414-0240 
			%p Bruce, MS
	%dl.contact	
		%dt Annette Gladney
		%dd
			%p Phone:  (662) 983-2305
			%p Bruce, MS
	%dl.contact	
		%dt Nellie Gladney-Johnson
		%dd	
			%p Phone:  (216) 321-8407
			%p Cleveland, OH