%h1 
	Welcome to the live official website of the
	%h2 Gladney Family Reunion 2011 

%p{"style" => "width: 550px"}
	Stay tuned as this website will eventually contain some valuable information concerning the reunion.  
	Please be patient during the construction of this site. Thanks! 
	%br 
	%cite{"style" => "display: block"}  - Antwan Foster (Feb 27, 2011)
