%h1 Hotel Options

%p 
	Please review the hotel options for the family reunion. The options below are the convenient options

	%ul#hotel-options
	
		%li 
			%p.bottom.strong Holiday Inn Express
			%p.bottom 112 Heritage Dr., 
			%p.bottom Oxford, MS  38655
			%p.bottom Phone: (662) 236-2500
			%p Reference:  Gladney Family Reunion Discount Rate.  (Rooms are limited)
		%li	
			%p.bottom.strong Cart Barn Inn @ Yoda Creek 
			%p.bottom 74 County Rd. 259 (sam Nation)
			%p.bottom Bruce, MS 38915
			%p Phone: (800) 997-5149
		%li 
			%p.bottom.strong Sawmill Motel
			%p.bottom (Located on Hwy-9)
			%p.bottom Bruce, MS 38915
			%p.bottom Phone: (662) 983-7317
			%p Reference:  Gladney Family Reunion Discount Rate.	


%p 	
	%a{:href => "http://www.hotelplanner.com/Hotels/19607-NEAR-Downtown-Oxford", :target => 'blank'} More Hotels		
	within Oxford, MS (20 to 30 mins away from Bruce, MS)