%article#letter.span-15.push-1.prepend-top
	%h2 Official Reunion Letter
	%h3#date April 3rd, 2011
	
	%p Greetings,
	
	%p 
		This letter is to inform all members of the Gladney, Foster, Knox, and Stephens family that our family reunion will be held on June 3-5, 2011 in 
		Bruce & Pittsboro, Mississippi.  
	%p 
		My name is Myrtice Ree Gladney-Robinson.  I am the great-great granddaughter of Charles and Fannie Gladney, the great granddaughter of James and Alice 
		Hillard-Gladney, the granddaughter of Clarence and Clemmie Foster-Gladney, as well as the daughter of Clarence Edward and Della Mae Hightower-Gladney.   
		As one of your host, I gladly extend my gratitude to you all for allowing yet another blessed year for all of us to come together as one

	%p 
		I am very excited about our family reunion.  I am asking that as a courtesy to everyone we acknowledge and enhance familiarity with our ancestry.  So 
		feel free to research your immediate family just as I have. Whether you are a grandmother, grandfather, aunt, uncle, cousin, sister, or brother, we 
		would love to enjoy this festive moment with you.  Not only are we looking forward to enjoying family but our extended kinship (friends) are welcomed 
		as well.   
	
	%p 
		As a member of the reunion committee, we look forward to having your input on how we can improve our reunion. Feel free to render any suggestions, 
		updates, changes or additions to our website. This will facilitate the committee in our longevity, improvement, and put us all on one accord. So lets 
		come together once again and help rekindle the love that we’ve shared with each other over the years in present or spirit. Additionally, let us honor 
		all those who are no longer with us. If we have missed anyone on the family tree, we apologize. However, feel free to render any information you may 
		have and we will work to improve this reunion info from this point on. With your help it will be GRAND!!!
		
		
	%p 
		%span.red UPDATE:  
		We chose the Cecil Davis Community Building; also known as the Bruce Community Building to hold our event.  In order for the children to play 
		on the playground, we would like to start gathering around 3 pm. We will start closing around 9:30 pm.  This would be the perfect time to wear your 
		Gladney Reunion T-shirts that have to be ordered by way of the ordering form. (They will look just like the website) The T-shirts will be printed in 
		black and red, on a white shirt; so this will be a good reminder for many years to come.  Please feel free to visit our very own reunion wesite at 
		www.gladneyfamilyreunion.org at any time. The website will eventually feature a photo gallery of the events from the reunion including other photos of 
		the James and Alice Gladney family. 
 	
	%p.bottom
		Also, we have chosen the Multi-Purpose Building located in Pittsboro, MS on Hwy-9, just south of the Pittsboro Court House (City Hall), to host the 
		Reunion Banquet on Saturday, June 4th 2011.
		
		%ul#times
			%li Start Time:  4 pm
			%li 5 – 7 pm:  Program
			%li 7 pm:  Dinner
			%li After Dinner:  Dancing, Social Gathering
			%li 10:00 pm:  Clean up time
	
	%p 
		%strong 
			June 5th, Church of your choice:  (Jackson Chapel or Mays chapel)
	
	%p.bottom
		The fee to cover the cost of the facilities, food and beverages are as follows:
		%ul#registration-prices
			%li Adults 13 and up:  $20.00
			%li Children Ages 8-12:  $10.00
			%li Children Ages 7 and under:  Free
			
	%p.bottom
		T-Shirt prices are as follows:  
		%ul#tshirt-prices
			%li Size: S-M-L-XL:  $12.00
			%li Size:  2XL-3XL:  $15.00
	
	%p.bottom 
		%span.red REMINDER: 
		Please get your money in as soon as possible so the committee may know how many T-Shirt orders to place, and how many people we are 
		planning to attend so that we can plan accordingly.  Please send payments to one of the following members:
		
		%ul#committee-addresses
			%li 
				%p.bottom.strong Myrtice Robinson
				%p.bottom 7546 S. Wentworth
				%p Chicago, IL  60620
			%li 
				%p.bottom.strong Eddie Wayne Gladney
				%p.bottom 403 CR 103
				%p Pittsboro, MS  38951
			%li 
				%p.bottom.strong Tina Gates
				%p.bottom 197 CR 161
				%p Houlka, MS  38850
		
		%p.bottom 
			For accommodations, please make reservations before May 1, 2011.
			
			%ul#hotel-options
				%li 
					%p.bottom.strong Sawmill Motel
					%p.bottom (Located on Hwy-9)
					%p.bottom Bruce, MS
					%p.bottom Contact:  Joy @ (662) 983-7199
					%p Reference:  Gladney Family Reunion Discount Rate.
				%li 
					%p.bottom.strong Holiday Inn Express
					%p.bottom 112 Heritage Dr., 
					%p.bottom Oxford, MS  38655
					%p.bottom (662) 236-2500
					%p Reference:  Gladney Family Reunion Discount Rate.  (Rooms are limited)
		
		%p 
			In conclusion, do note that the reunion committee, and other family members are still busy making arrangements, putting together different 
			activities, and making sure we create an exciting, fun, and most of all memorable occasion for the whole family.  We hope to see all of you in 
			Bruce, MS on Friday, June 3rd to start our family activities. Let us rejoice for we all are one.  
		
		%p 
			We hope you are anticipating the Gladney Family Reunion as much as we are!!!  See you soon...
		
		%p
			Sincerely, 
			
		%cite.large Myrtice Ree Gladney-Robinson
		
	
