%h1 Schedule of Events

%ul#events
	%li
		%h3.bottom Friday, June 3rd, 2011
		%p.bottom Ice Breaker
		%p.bottom Cecil Davis Community Building | Bruce, MS
		%p 3pm - until
	%li
		%h3.bottom Saturday, June 4th, 2011
		%p.bottom Reunion Banquet
		%p.bottom Multi-Purpose Building | Pittsboro, MS
		%p 5pm - 11pm
	%li 
		%h3.bottom Sunday, June 5th, 2011
		%p.bottom Church Services
		%p Jackson Chapel (Bruce, MS) and Mays Chapel (Mt. Vernon, MS)
